html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: fixed;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  cursor: url('./images/flores/florCursor.png'), auto;
}

body * {
  transition: 0.4s ease-in-out;
}

.flower-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flor {
  position: absolute;
  width: 3%;
  opacity: 0;
  animation: fadeInOut 10s linear infinite;
}

@keyframes fadeInOut {
  0%,
  10% {
    opacity: 0;
  }
  50%,
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

/*footer*/
.horizontal-footer {
  display: flex;
  position: fixed;
  flex-direction: column;
  overflow: hidden;
  bottom: 0%;
  left: 0%;
  width: 200%;
  background-color: #202020;
}

/*footer a rodar*/
.footer {
  animation: slideLeft 15s linear infinite;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-0.5%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.horizontal-footer a {
  color: white;
  display: block;
  float: left;
  text-align: center;
  text-decoration: none;
  padding: 0.2% 20% 0.2% 20%;
}

ul {
  display: table;
  table-layout: fixed;
}

.footer>li {
  color: white;
  text-align: center;
  list-style: none;
  font-size: 120%;
  display: table-cell;
}

.horizontal-footer a:hover {
  background-color: #ccc;
  color: #202020;
}

/*texto ao centro*/
.text {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
}

h1 {
  text-align: center;
  font-size: 300%;
  user-select: none;
}

#h1 {
  width: auto;
}

p {
  font-size: 120%;
  user-select: none;
}

/*botões para mudar a cor*/
.light-dark {
  display: inline;
}

#modeToggle {
  position: fixed;
  right: 1%;
  width: 4%;
  background-color: #202020;
  height: 5%;
  margin: 0.5% 0% 0.5% 0.5%;
}

#icon {
  width: 70%;
}

#mode {
  position: fixed;
  text-align: center;
  font-size: 100%;
  right: 0.5%;
  top: 5%;
  width: 5%;
  margin: 0.5% 0% 0.5% 1%;
}

#colorMode {
  position: fixed;
  right: 6%;
  width: 4%;
  background-color: #008ea7;
  height: 5%;
  margin: 0.5% 0% 0.5% 0.5%;
}

#color {
  position: fixed;
  text-align: center;
  font-size: 100%;
  right: 5.5%;
  top: 5%;
  width: 5%;
  margin: 0.5% 0% 0.5% 1%;
}

@media only screen and (min-width: 600px){
  
}